$WHITE: #FAFEFF;
$OFF-WHITE: #F5F5F5;
$BLACK: #222016;
$BEIGE: #EAE6DD;
$RED: #904E30;
$YELLOW: #D3B979;
$LIGHT_BLUE: #DEF1F8;
$BLUE: #61919F;
$PERIWINKLE: #A6AEC3;

:export {
    WHITE: $WHITE;
    OFF_WHITE: $OFF-WHITE;
    BLACK: $BLACK;
    BEIGE: $BEIGE;
    RED: $RED;
    YELLOW: $YELLOW;
    LIGHT_BLUE: $LIGHT_BLUE;
    BLUE: $BLUE;
    PERIWINKLE: $PERIWINKLE
}
