$OFF-WHITE: #FAFEFF;
$BLACK: #222016;
$RED: #904E30;
$YELLOW: #D3B979;
$LIGHT_BLUE: #DEF1F8;
$BLUE: #61919F;

:export {
    OFF_WHITE: $OFF-WHITE;
    BLACK: $BLACK;
    RED: $RED;
    YELLOW: $YELLOW;
    LIGHT_BLUE: $LIGHT_BLUE;
    BLUE: $BLUE;
}
