@use "../../assets/styles/colors.module.scss" as COLORS;

.home {
    height: 100%;
    width: 100%;

    .button-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
  
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: COLORS.$BLUE;
            color: COLORS.$WHITE;
            text-decoration: none;
            text-align: center;
            border-radius: 40px;
            font-size: 24px;
            font-weight: 500;
            height: 30px;
            width: 150px;
            margin-right: 48px;
        }
      }

    .img {
        display: flex;
        flex-flow: column;
        margin-bottom: 48px;
    
        .img-background {
            background-color: COLORS.$BEIGE;
            height: 299px;
            width: 100%;
    
            .main-img {
                background-position: center center;
                background-repeat: no-repeat;
                height: 300px;
            }
        }
    }

    .line {
        background-color: COLORS.$BLUE;
        margin-left: 5%;
        height: 1px;
        width: 90%
    }

    .about-textbox {
        background-color: COLORS.$OFF_WHITE;
        border-radius: 24px;
        margin: 48px 10%;
        padding-bottom: 48px;
        border-bottom: 48px;
        width: 80%;

        .title {
            font-weight: bold;
            font-size: 32px;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            padding: 24px;
        }

        .background {
            padding: 0 48px 12px 48px;
            text-align: left;

            .paragraph {
                padding: 12px 0;
                font-size: 24px;
            }
        }

        .chart-img {
            background-position: center center;
            background-repeat: no-repeat;
            height: 180px;
            max-width: 100%;
            padding: 12px 0 36px 0;
        }

        .button-wrapper {
            display: flex;
            justify-content: center;
            align-content: center;
      
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: COLORS.$LIGHT_BLUE;
                color: COLORS.$BLACK;
                border-color: COLORS.$BLUE;
                border-style: solid;
                border-width: 1px;
                text-decoration: none;
                text-align: center;
                border-radius: 40px;
                font-size: 24px;
                font-weight: 500;
                height: 30px;
                width: 132px;
                margin-right: 0;
            }
        }
    }

    .footer {
        height: 120px;
        width: 100%;
    }
}
